*, *:before, *:after { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.modal-map,
.modal-feedback,
.modal-in-cart {
  display: none;
}

.visually-hidden {
  display: none;
}

.button {
  width: 195px;
  height: 38px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
}

.header {
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.container {
  /* display: flex;
  justify-content: space-between; */
  width: 940px;
  margin: 0 auto; /*Центрует блок*/
}

.top-menu-back {
  background-color: #293449;
  height: 42px;
}

.top-menu{
  display: flex;
  justify-content: space-between;
}

.top-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  height: 158px;
  align-items: center;
}

.logo {
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-header:hover {
  background-color: #ca2c37;
}

.logo-header:active {
  background-color: #ba2732;
}

.logo img {
  display: block;
  margin: 0 auto;
}

.search {
  width: 270px;
  height: 42px;
  font-size: 17px;
  line-height: 42px;
  color: #ffffff;
}

.search input {
  height: 42px;
  margin-left: 17px;
  padding-left: 32px;
  border: none;
  background: none;
}

::placeholder {
  color: #ffffff;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:focus {
  background-color: #ffffff;
}

.top-menu-list,
.make-order,
.main-nav-list,
.user-nav,
.slider-list,
.producers-list,
.services-list,
.shipping-list,
.nav-footer-list,
.menu-footer,
.socials,
.account-list,
.breadcrumbs{
  list-style: none;
}

.top-menu-list a,
.make-order a,
.main-nav-list a {
  font-size: 17px;
  color: #ffffff;
}

.bookmarks,
.cart {
  width: 150px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  color: inherit;
}

.bookmarks:hover,
.cart:hover {
  background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.make-order {
  margin: 0;
}

.make-order-btn {
  width: 150px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #63a63e;
}

.make-order-btn:hover {
  background-color: #5fbb2d;
}

.make-order-btn:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.about {
  width: 250px;
  padding-left: 53px;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  text-align: left;
  color: #ee3643;
}

.contacts-top {
  width: 270px;
  font-size: 14px;
  color: #32425c;
}

.tel {
  width: 270px;
  height: 45px;
  border: solid 3px #ffffff;
  margin-bottom: 10px;
  text-align: center;
}

.tel a {
  font-size: 21px;
  line-height: 45px;
  color: #ee3643;
}

.address {
  display: block;
  width: 276px;
  margin: 0 auto;
}

.user-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 21px;
  text-align: center;
  line-height: 45px;
}

.user-nav a {
  color: inherit;
}

.login {
  width: 121px;
  height: 45px;
  margin-bottom: 2px;
  background-color: #ffffff;
}

.register {
  width: 121px;
  height: 45px;
  margin-left: 10px;
  background-color: #ffffff;
}

.login:hover,
.register:hover {
  color: #ee3643;
}

.login:active,
.register:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 940px;
  height: 60px;
  margin: 0;
  padding: 0;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.main-nav-list {
  display: flex;
  width: 833px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.main-nav li:hover {
  background-color: #293449;
}

.main-nav li:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.main-catalog-boxes {
  display: flex;
  width: 940px;
  padding-top: 59px;
  padding-bottom: 53px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-boxes {
  width: 300px;
  height: 123px;
  padding-left: 23px;
  color: #ffffff;
}

.materials {
  background-color: #ffbf47;
}

.tools {
  background-color: #3bbce3;
}

.equipment {
  background-color: #dc91d8;
}

.discount {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
  margin-left: auto;
}

.main-boxes-btn {
  display: block;
  width: 135px;
  height: 38px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-boxes-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-boxes-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.second-slide {
  display: none;
}

.slider-item {
  width: 620px;
  height: 266px;
  margin: 0;
  padding-left: 24px;
  padding-top: 25px;
  background-color: black;
  color: #ffffff;
}

.slider-item h2 {
  text-transform: uppercase;
}

.slider-btn:hover {
  background-color: #ca2c37;
}

.slider-btn:active {
  background-color: #ba2732
}

.popular-items {
  display: flex;
  width: 940px;
  padding-left: 24px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f5f0;
  color: #32425c;
  text-transform: uppercase;
}

.main-catalog-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 21px;
}

.producers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 940px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 85px;
}

.producers-item {
  display: flex;
  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;
  align-items: center;
  justify-content: center;
}

.services-back {
  background-color: #f4f7f9;
}

.services {
  padding-top: 68px;
}

.services h3 {
  font-size: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.services h2,
.about-company h2,
.contacts h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.services p,
.about-company p,
.contacts p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-list {
  font-size: 21px;
  color: #ffffff;
}

.services-item {
  display: block;
  width: 240px;
  padding-left: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: inset 0px 1px 0 0 #405069;
  background-color: #32425c;
}

.services-guaranty,
.services-credit {
  display: none;
}

.pre-footer {
  display: flex;
  justify-content: space-between;
}

.about-company,
.contacts {
  padding-top: 82px;
}

.about-company {
  width: 519px;
}

.contacts {
  width: 300px;
}

.contacts img {
  margin-top: 10px;
  margin-bottom: 30px;
}

.shipping-list a {
  font-size: 18px;
  line-height: 40px;
  color: inherit;
}

.about-company-btn {
  width: 220px;
}

.contacts-btn {
  width: 300px;
  border: none;
  color: #ffffff;
}

.footer {
  margin-top: 90px;
  background-color: #32425c;
}

.footer-top-navigation,
.footer-middle-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 940px;
  margin: 0;
  padding: 0;
}

.footer-top-navigation {
  margin-bottom: 10px;
}

.footer-middle-navigation {
  align-items: flex-start;
}

.logo-footer {
  display: flex;
  align-items: center;
  height: 68px;
}

.nav-footer a {
    font-size: 18px;
    color: #f1f5f7;
}

.nav-footer-list li:hover,
.menu-footer li:hover,
.copy a:hover {
  text-decoration: underline;
}

.nav-footer-list {
  display: flex;
  justify-content: space-between;
  width: 547px;
  margin: 0;
  padding: 13px;
}

.nav-footer-list li:active {
  color: rgba(241, 245, 247, 0.5);
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  width: 524px;
}

.menu-footer li:active {
  color: rgba(255, 209, 128, 0.5);
}

.menu-footer a {
  font-size: 18px;
  color: #ffd180;
}

.footer p {
  width: 324px;
  padding: 0;
  color: #ffffff;
}

.footer-top p {
  font-size: 18px;
  line-height: 25px;
}

.footer-bottom-back {
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #293449;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.copy {
  font-size: 16px;
  line-height: 22px;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 132px;
}

.socials-background {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
}

.vk {
  background-image: url("img/vk-icon.svg");
  background-size: 26px 15px;
  background-repeat: no-repeat;
}

.socials-background:hover,
.socials-background:active {
  background-color: #ee3643;
}


.copy a {
  color: #ffd180;
}

.copy a:active {
  color: #ee3643;
}
/* Каталог */
.user {
  width: 299px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #ffffff;
}

.user a {
  font-size: 21px;
  color: inherit;
}

.account-list {
  display: flex;
  justify-content: space-between;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #32425c;
  text-align: center;
}

.account-item a {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.user a:active {
  color: rgba(0, 0, 0, 0.3);
}

.orders a:hover,
.personal-account a:hover {
  color: #ee3643;
}

.orders a:active,
.personal-account a:active {
  color: color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: inherit;
}

.catalog-title {
  display: block;
  width: 940px;
  height: 89px;
  margin: 0 auto;
  padding-left: 30px;
  line-height: 89px;
  background-color: #f2f6f8;
}

.catalog-title h2 {
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.filter-section {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.filter-title {
  width: 220px;
  margin-bottom: 20px;
  padding-left: 18px;
  background-color: #f7f3ec;
  text-transform: uppercase;
}

.catalog-inner {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #f7f3ec;
}

.sorting p {
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  width: 354px;
  text-transform: uppercase;
  list-style: none;
}

.filter {
  border: none;
}

.filter legend {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter input {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 30px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-show-btn {
  width: 140px;
  height: 38px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 700px;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  list-style: none;
}

.pagination-list {
  display: flex;
  list-style: none;
}

.catalog-item {
  width: 220px;
  height: 318px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  text-align: center;

  list-style: none;
}

.catalog-item .inner {
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item .inner:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item h3 {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.price {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  color: #999999;
  text-decoration: line-through;
}

.discount-price {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.purchase-btn {
  width: 135px;
  height: 38px;
  margin-bottom: 10px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  border: none;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.purchase-btn:hover {
  background-color: #5fbb2d;
}

.purchase-btn:active {
  background-color: #518534;
  box-shadow: none;
}

.bookmarks-btn {
  width: 135px;
  height: 38px;
  background-color: #ffffff;
  border: solid 3px #63a63e;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #32425c;
  text-transform: uppercase;
}

.bookmarks-btn:hover {
  border: solid 3px #32425c;
}

.bookmarks-btn:active {
  opacity: 0.3;
  border: solid 3px #32425c;
}
