*, *:before, *:after { box-sizing: border-box; }

body {
  min-width: 980px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button a {
  display: block;
  width: 195px;
  height: 38px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
}

.header {
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.container {
  width: 940px;
  margin: 0 auto; /*Центрует блок*/
}

.top-menu-back {
  box-sizing: border-box;
  background-color: #293449;
  height: 42px;
  padding: 0;
}

.top-menu{
  display: flex;
  justify-content: space-between;
}

.top-menu-list {
  display: flex;
  flex-direction: row;
  /* width: 300px; */
  margin: 0;
  padding: 0;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  min-height: 158px;
  margin: 0;
  align-items: center;
}

.logo {
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.logo-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-header:hover {
  background-color: #ca2c37;
}

.logo-header:active {
  background-color: #ba2732;
}

.logo img {
  display: block;
  margin: 0 auto;
}

.search input {
  position: relative;
  width: 270px;
  height: 42px;
  margin: 0;
  padding-left: 49px;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 12px;
  border: none;
  background: none;
  font-size: 17px;
  color: #ffffff;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: top 14px left 17px;
}

.search ::placeholder {
  color: #ffffff;
}

.search input:hover {
  background-color: #212a3a;
  background-image: url("../img/icon-search-white.svg");
  background-repeat: no-repeat;
  background-position: top 14px left 17px;
}

.search input:focus {
  background-color: #ffffff;
  background-image: url("../img/icon-search-red.svg");
  background-repeat: no-repeat;
  background-position: top 14px left 17px;
  color: #000000;
}

.top-menu-list,
.main-nav-list,
.user-nav,
.slider-list,
.producers-list,
.services-list,
.shipping-list,
.nav-footer-list,
.menu-footer,
.socials,
.account-list,
.breadcrumbs{
  list-style: none;
}

.top-menu-list a,
.main-nav-list a {
  font-size: 17px;
  color: #ffffff;
}

.bookmarks a,
.cart a {
  position: relative;
  display: block;
  min-width: 150px;
  height: 42px;
  margin: 0;
  padding-left: 44px;
  /* padding-right: 28px; */
  padding-top: 12px;
  padding-bottom: 12px;
  color: #ffffff;
}

.cart a {
  padding-left: 49px;
}

.bookmarks a::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  fill: #ffffff;
  opacity: 0.3;
}

.cart a::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 17px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  fill: #ffffff;
  opacity: 0.3;
}

.bookmarks a:hover::before,
.cart a:hover::before {
  opacity: 1;
}

.bookmarks a:hover,
.cart a:hover {
  background-color: #212a3a;
}

.bookmarks a:active::before,
.cart a:active::before {
  opacity: 0.5;
}

.bookmarks a:active,
.cart a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.filled a {
  background-color: #ee3643;
}

.make-order-btn {
  display: block;
  min-width: 150px;
  height: 42px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  color: #ffffff;
  text-align: center;
  background-color: #63a63e;
}

.make-order-btn:hover {
  background-color: #5fbb2d;
}

.make-order-btn:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.about {
  width: 250px;
  margin-top: 28px;
  padding-left: 53px;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  text-align: left;
  color: #ee3643;
}

.contacts-top {
  width: 270px;
  margin-left: 44px;
  margin-top: 5px;
  font-size: 14px;
  color: #32425c;
}

.tel {
  position: relative;
  width: 270px;
  height: 45px;
  margin-bottom: 9px;
  border: solid 3px #ffffff;
  padding-left: 27px;
  text-align: center;
}

.tel::before {
  content: "";

  position: absolute;
  left: 15px;
  top: 10px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}

.tel a {
  font-size: 21px;
  line-height: 45px;
  color: #ee3643;
}

.address {
  display: block;
  width: 276px;
  margin: 0;
  padding-left: 10px;
}

.user-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4px;
  font-size: 21px;
}

.user-nav a {
  color: inherit;
}

.login a {
  position: relative;
  display: block;
  /* height: 45px; */
  padding-left: 52px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 11px;
  background-color: #ffffff;
}

.login a::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 18px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.login a:hover::before {
  opacity: 1;
}

.login a:active::before {
  opacity: 0.3;
}

.register a {
  display: block;
  height: 45px;
  margin-left: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 11px;
  padding-bottom: 14px;
  background-color: #ffffff;
}

.login a:hover,
.register a:hover {
  color: #ee3643;
}

.login a:active,
.register a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 60px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 23px;
}

.main-nav a {
  display: block;
  height: 60px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.main-nav a:hover {
  background-color: #293449;
}

.main-nav a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.main-catalog-boxes {
  width: 940px;
  margin-bottom: 33px;
  padding-top: 59px;
  padding-left: 0;
  font-size: 0;
}

.main-boxes {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 123px;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-left: 23px;
  color: #ffffff;
}

.main-boxes:first-child {
  margin-left: 0;
}

.main-boxes h2 {
  font-size: 24px;
}

.slider {
  float: left;
  width: 620px;
  height: 266px;
  padding: 0;
  margin-left: 0;
}

.materials {
  position: relative;
  background-color: #ffbf47;
}

.materials::before {
  content: "";

  position: absolute;
  top: 31px;
  right: 43px;

  width: 44px;
  height: 65px;

  background-image:
  url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.tools {
  position: relative;
  background-color: #3bbce3;
}

.tools::after {
  content: "";

  position: absolute;
  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.equipment {
  position: relative;
  background-color: #dc91d8;
}

.equipment::after {
  content: "";

  position: absolute;
  top: 31px;
  right: 31px;

  width: 78px;
  height: 62px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.discount {
  position: relative;
  background-color: #8ed78f;
}

.discount::after {
  content: "";

  position: absolute;
  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;

  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
}

.delivery {
  position: relative;
  background-color: #ffc047;
}

.delivery::after {
  content: "";

  position: absolute;
  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;

  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
}

.main-boxes-btn {
  display: block;
  width: 135px;
  /* height: 38px; */
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.main-boxes-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-boxes-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider-list {
  padding: 0;
  margin: 0;
}

.second-slide {
  display: none;
}

.slider-item h2 {
  font-size: 36px;
  margin: 0;
  margin-bottom: 3px;
}

.slider-item p {
  font-size: 18px;
  margin: 0;
}

.slider-item {
  position: relative;
  width: 620px;
  height: 266px;
  margin: 0;
  padding-left: 24px;
  padding-top: 20px;
  background-color: #000000;
  background-image: url("../img/slider-image-1.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}

.slider-item::before {
  content: "";

  position: absolute;
  top: 113px;
  left: 25px;

  width: 22px;
  height: 40px;

  background-image:
  url("../img/icon-left.svg");
  background-repeat: no-repeat;
}

.slider-item::after {
  content: "";

  position: absolute;
  top: 113px;
  right: 25px;

  width: 22px;
  height: 40px;

  background-image:
  url("../img/icon-right.svg");
  background-repeat: no-repeat;
}


.slider-item h2 {
  text-transform: uppercase;
}

.slider-btn a {
  position: absolute;
  bottom: 0;
  margin-bottom: 22px;
}

.slider-btn a:hover {
  background-color: #ca2c37;
}

.slider-btn a:active {
  background-color: #ba2732
}

.popular-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 940px;
  min-height: 89px;
  padding-left: 28px;
  padding-right: 24px;
  background-color: #f9f5f0;
  color: #32425c;
  text-transform: uppercase;
}

.popular-items h2 {
  margin: 0;
  font-size: 30px;
}

.popular-items .button a {
  width: 253px;
}

.main-catalog-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  margin: 0;
  padding: 0;
  padding-top: 21px;
}

.producers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 940px;
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
  padding-top: 20px;
}

.producers-item {
  display: flex;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  border: solid 1px #eaeaea;
  align-items: center;
  justify-content: center;
}

.producers-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.producers-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services-back {
  background-color: #f4f7f9;
}

.services {
  display: flex;
  flex-wrap: wrap;
  padding-top: 65px;
  padding-bottom: 99px;
}

.services-intro {
  width: 940px;
  margin-bottom: 68px;
}

.services h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.services h2,
.about-company h2,
.contacts h2,
.about-perforators h2 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  text-transform: uppercase;
}

.services p,
.about-company p,
.contacts p,
.about-perforators p {
  margin: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-list {
  position: relative;
  font-size: 21px;
  margin: 0;
  padding: 0;
}

.services-list::after {
  content: "";

  position: absolute;
  top: -46px;;
  right: 0;
  width: 10px;
  height: 279px;

  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
}

.service-item {
  width: 240px;
  margin: 0;
  padding:0;
  padding-left: 22px;
  padding-top: 16px;
  padding-bottom: 21px;
  box-shadow: inset 0px 1px 0 0 #405069;
  background-color: #32425c;
  border: none;
  color: #ffffff;
  text-align: left;
  cursor: pointer;
}

.service-item:hover {
  background-color: #293449;
}

.service-item:focus {
  background-color: #ffffff;
  color: #32425c;
  box-shadow: none;
  outline: none;
}

.services article {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 80px;
}

.services-delivery::after {
  content: "";

  position: absolute;
  left: 230px;
  bottom: -100px;

  width: 468px;
  height: 261px;

  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
}

.services-guaranty::after {
  content: "";

  position: absolute;
  left: 300px;
  bottom: -100px;

  width: 389px;
  height: 283px;

  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
}

.services-credit::after {
  content: "";

  position: absolute;
  left: 270px;
  bottom: -100px;

  width: 465px;
  height: 285px;

  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
}

/* .services-delivery, */
.services-guaranty,
.services-credit {
  display: none;
}

.credit-btn {
  margin: 0;
  margin-top:20px;
}

.pre-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.about-company,
.contacts {
  padding-top: 75px;
}

.about-company {
  width: 519px;
}

.about-company p {
  margin-bottom: 14px;
}

.about-company p:first-of-type,
.contacts p:first-of-type {
  margin-bottom: 24px;
}

.contacts {
  width: 300px;
}

.contacts img {
  margin-top: 10px;
  margin-bottom: 33px;
}

.shipping-list {
  margin: 0;
  padding: 0;
  padding-left: 36px;
  padding-bottom: 23px;
}

.shipping-item {
  position: relative;
}

.shipping-item::before {
  content: "";

  position: absolute;
  left: -35px;
  top: 18px;

  width: 25px;
  height: 2px;
  background-color: #ee3643;

}

.shipping-list a {
  font-size: 18px;
  line-height: 40px;
  color: inherit;
}

.about-company-btn a {
  width: 220px;
}

.contacts-btn {
  width: 300px;
  height: 38px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 3px;
  background-color: #ee3643;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.footer {
  background-color: #32425c;
}

.footer-top-navigation,
.footer-middle-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 940px;
  margin: 0;
  padding: 0;
}

.footer-top-navigation {
  margin-bottom: 32px;
}

.footer-middle-navigation {
  align-items: flex-start;
  margin-bottom: 45px;
}

.footer-middle-navigation p {
  width: 340px;
}

.logo-footer {
  display: flex;
  align-items: center;
  height: 68px;
}

.nav-footer a {
    font-size: 18px;
    color: #f1f5f7;
}

.nav-footer-list a:hover,
.menu-footer a:hover,
.copy a:hover {
  text-decoration: underline;
}

.nav-footer-list {
  display: flex;
  justify-content: space-between;
  width: 547px;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-size: 18px;
  color: #f1f5f7;
}

.nav-footer-list a:active {
  color: rgba(241, 245, 247, 0.5);
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  width: 582px;
  margin: 0;
  padding: 0;
}

.menu-footer a:active {
  color: rgba(255, 209, 128, 0.5);
}

.menu-footer a {
  font-size: 18px;
  color: #ffd180;
}

.footer p {
  /* width: 324px; */
  padding: 0;
  color: #ffffff;
}

.footer-middle-navigation p {
  margin: 0;
  font-size: 18px;
  line-height: 25px;
}

.footer-bottom-back {
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #293449;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.copy {
  width: 228px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  /* line-height: 22px; */
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 300px;
  margin: 0;
  padding: 0;
  padding-left: 105px;
  padding-right: 60px;
}

.socials-background {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
}

.vk,
.fb,
.ig {
  position: relative;
}

.vk::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 26px;
  height: 15px;

  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.fb::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 22px;

  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.ig::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 21px;
  height: 21px;

  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.socials-background:hover,
.socials-background:active {
  background-color: #ee3643;
}

.footer-contact {
  width: 135px;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.footer-developer {
  width: 96px;
  margin: 0;
  padding: 0;
  font-size: 16px;
}


.footer-contact a,
.footer-developer a {
  color: #ffd180;
}

.footer-contact a:active,
.footer-developer a:active {
  color: #ee3643;
}

/* Каталог */

.account {
  margin-top: 5px;
}

.user {
  display: flex;
  position: relative;
  width: 299px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #ffffff;
}

.user-name {
  margin-left: 47px;
}

.user::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 13px;

  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.logout-btn {
  display: block;
  width: 20px;
  height: 17px;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 35px;
  padding: 0;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

/* .user::after {
  content: "";

  position: absolute;
  top: 14px;
  right: 10px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
} */

.user a {
  font-size: 21px;
  color: inherit;
}

.account-list {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0;
  margin-top: 9px;
  padding: 0;
}

.account-item {
  margin-right: 32px;
}

.account-list li {
  position: relative;
}

.account-list li::after {
  content: "";

  position: absolute;
  top: 50%;
  right: -20px;

  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #32425c;
  transform: translate(-50%, -50%);
}

.account-list li:last-child::after {
  display: none;
}

.account-item a {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.user a:active {
  color: rgba(0, 0, 0, 0.3);
}

.orders a:hover,
.personal-account a:hover {
  color: #ee3643;
}

.orders a:active,
.personal-account a:active {
  color: color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  font-size: 13px;
  text-transform: uppercase;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  left: -20px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
}

.breadcrumbs li:first-child::after {
  display: none;
}

.breadcrumbs a {
  color: inherit;
}

.catalog-title {
  display: block;
  width: 940px;
  height: 89px;
  margin: 0 auto;
  padding-left: 30px;
  line-height: 89px;
  background-color: #f2f6f8;
}

.catalog-title h2 {
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.filter-section {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.filter-title {
  width: 220px;
  margin-bottom: 20px;
  padding-left: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f7f3ec;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.filter-title p {
  margin: 0;
}

.filter-range {
  position: relative;
  width: 220px;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  font-family: "PTSans", Arial, sans-serif;
}

.filter-range::after {
  content: "";

  position: absolute;
  bottom: -25px;
  left: 0;

  width: 220px;
  height: 1px;
  background-color: #d7dcde;
}

.filter-range-title {
  margin-bottom: 21px;
  font-size: 17px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  width: 220px;
  height: 80px;
  margin-bottom: 9px;
  padding-left: 20px;
  padding-top: 39px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-controls .scale {
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 84%;
  height: 2px;

  background-color: #00cb74;
}

.range-toggle {
  position: absolute;
  top: 30px;

  width: 20px;
  height: 20px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  left: 74%;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin: 0;
  padding: 0;
}

.price-controls::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 1px;
  background-color: #444444;
  transform: translate(-50%, -50%);
}

.price-controls input {
  width: 95px;
  height: 38px;
  margin: 0;

  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;

  text-align: center;
}

.price-controls .max-price {
  margin-left: 30px;
}

.filter-section fieldset {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.filter-section fieldset:last-of-type {
  margin-bottom: 80px;
}

.filter-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-section legend {
  margin-bottom: 20px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
  text-transform: uppercase;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:hover + label::before,
.filter-input-radio:hover + label::before,
.filter-input-radio:checked:hover + label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before,
.filter-input-checkbox:checked:disabled + label::before,
.filter-input-radio:disabled + label::before,
.filter-input-radio:checked:disabled + label::before {
  opacity: 0.2;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  color: #000000;
  opacity: 0.4;
}

.producers-filter {
  position: relative;
}

.producers-filter::after {
  content: "";

  position: absolute;
  bottom: -10px;
  left: 0;

  width: 220px;
  height: 1px;
  background-color: #d7dcde;
}

.producers-filter input,
.charge-filter input {
  display: none;
}

.filter-show-btn {
  width: 140px;
  height: 38px;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}

.catalog-inner {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 12px;
  padding-bottom: 11px;
  background-color: #f7f3ec;

  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.sorting p {
  margin: 0;
  padding: 0;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  width: 354px;
  margin: 0;
  margin-right: 100px;
  text-transform: uppercase;
  list-style: none;
}

.sorting-item button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
  cursor: pointer;
}

.sorting-item button:hover {
  color:#000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-item button:focus {
  color:#ee3643;
  border: none;
}

.icon {
  width: 11px;
  height: 10px;
  background: none;
  border: none;
  outline: none;
}

.icon path {
  opacity: 0.3;
}

.icon:hover path{
  opacity: 1;
}

.icon:focus path {
  fill: #ee3643;
  opacity: 1;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 700px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 284px;
  margin: 0;
  padding: 0;
}

.pagination-item {
  display: block;
  width: 38px;
  height: 38px;
  padding-top: 10px;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
  text-align: center;
}

.next {
  width: 140px;
}

.current-page {
  background-color: #ee3643;
  border: 0;
  color: #ffffff;
}

.pagination-item:hover {
  border-color: #bdc6ca;
}

.pagination-item:active {
  border-color: #ee3643;
}

.pagination-list a {
  color: #000000;
}

.catalog-item img {
  max-width: 100%;
}

.catalog-item {
  position: relative;
  width: 220px;
  height: 318px;
  margin-bottom: 20px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  text-align: center;

  list-style: none;
}

.actions {
  display: none;
}

.catalog-item::before {
  content: "";

  position: absolute;
  bottom: 21px;
  left:   43px;

  width: 141px;
  height: 38px;

  background-image: url("../img/item-button.svg");
  background-repeat: no-repeat;
}

.catalog-item .inner {
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item .inner:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover img {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.new {
  position: relative;
}

.new::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 60px;

  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
}

.catalog-item h3 {
  position: absolute;
  bottom: 75px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.price {
  position: absolute;
  bottom: 65px;
  left: 75px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  color: #999999;
  text-decoration: line-through;
}

.discount-price {
  position: absolute;
  bottom: 30px;
  left: 75px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-item ul {
  margin: 0;
  margin-top: 44px;
  padding: 0;
  list-style: none;
}

.purchase-btn a {
  position: relative;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 42px;
  margin-right: 42px;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  border: none;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.purchase-btn a::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 14px;
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.purchase-btn a:hover {
  background-color: #5fbb2d;
}

.purchase-btn a:active {
  background-color: #518534;
  box-shadow: none;
}

.bookmarks-btn a {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 42px;
  margin-right: 42px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 3px #63a63e;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #32425c;
  text-transform: uppercase;
}

.bookmarks-btn a:hover {
  border: solid 3px #32425c;
}

.bookmarks-btn a:active {
  opacity: 0.3;
  border: solid 3px #32425c;
}

.about-perforators-back {
  margin: 0;
  margin-top: 60px;
  padding-top: 67px;
  padding-bottom: 73px;
  background-color: #f4f7f9;
}


/* Модальные окна */

.modal {
  position: fixed;
  width: 620px;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  color: #000000;
}

.red-line {
  height: 7px;
  margin-bottom: 48px;
  background-color: #ee3643;
}

.gray-background {
  width: 100%;
  margin-top: 37px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 37px;
  padding-bottom: 37px;
  background-color: #f4f4f4;
}

.modal-close-btn {
  position: absolute;
  top: 16px;
  right: 9px;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  border: 0;
  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-feedback {
  display: none;
  left: 50%;
  top: 50px;

  margin-left: -310px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
}

.contact-form input {
  width: 220px;
}

.contact-form label {
  margin-bottom: 13px;
}

.name-input,
.email-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-feedback textarea {
  width: 100%;
}

.contact-form ::placeholder {
  font-size: 13px;
  color: #a9a9a9;
}

.contact-form input,
.contact-form textarea {
  padding-left: 16px;
  padding-right: 10px;
  padding-top: 11px;
  padding-bottom: 9px;
  border: solid 2px #dee3e4;
  border-radius: 3px;
  font-size: 13px;
}

.modal-submit-btn {
  width: 100%;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 0;
  background-color: #ee3643;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
